@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-dk-bg: #202020;
  --color-lt-bg: #f5f5f5;

  --color-modal-bg: #dedede;
  --color-post-card-bg: #ebebeb;

  --color-dl-cart-bg: #2e2e2e;

  --color-border-gray: #d4d6e0;
  --color-main: #de3127;
  --color-hover-main: #ff3b30;
  --color-text-gray: #5b5b5e;

  --breakpoint-lg: 1900px;
}

@layer base {
  .switchTheme,
  body {
    @apply transition-colors duration-[450ms];
  }
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 19px;
  width: 19px;
  background: #fff;
  border: 2px #ddd solid;
}

.checkbox--error {
  border: 2px #ff0000 solid;
}

.checkbox--active {
  border-color: #ff3b30;
  background: #ff3b30;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(48, 47, 47, 0.1);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #de3127;
  border-radius: 10px;
}
