@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-border-gray: #d4d6e0;
  --color-main: #ff3b30;
  --color-hover-main: #cf3932;
}
